.footer {
  display: grid;
  padding: 25px 30px;
  background: var(--primary);
  color: var(--white);
  font-size: 16px;
  gap: 10px 40px;
  grid-template-columns: 1fr auto auto;
  line-height: 20px;
}

.footer a:hover {
  color: var(--gray-light);
}

@media (width <= 765px) {
  .footer {
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    text-align: center;
  }
}
