.title {
  display: grid;
  gap: 20px;
  grid-template-columns: auto 1fr auto;
  place-items: baseline left;
}

.hhTitle {
  display: grid;
  gap: 20px;
  grid-template-columns: auto 1fr;
  place-items: baseline left;
}