.firstLevel {
  display: grid;
  align-items: center;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
  gap: 20px;
  grid-template-columns: 24px 1fr;
  line-height: 25px;
}

.firstLevelList {
  padding: 0;
  list-style: none;
}

.firstLevelActive,
.firstLevel:hover {
  color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
  fill: var(--primary);
}

.secondLevel {
  padding: 0;
  border: none;
  margin-bottom: 10px;
  background: none;
  color: var(--gray-dark);
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
}

.secondBlock {
  padding: 0 0 0 32px;
  border-left: 1px solid #DFDFDF;
  margin-top: 15px;
  margin-left: 12px;
  list-style: none;
}

.secondLevelBlock {
  overflow: hidden;
  padding: 0;
  list-style: none;
}

.thirdLevel {
  display: block;
  overflow: hidden;
  max-width: 180px;
  margin-bottom: 10px;
  color: var(--gray-dark);
  cursor: pointer;
  font-size: 11px;
  font-weight: 400;
  outline-offset: -1px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.thirdLevelActive,
.thirdLevel:hover {
  color: var(--primary);
}